[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
autopep8 = "*"
black = "*"

[packages]
python-dotenv = "*"
requests = "*"
python-dateutil = "*"
pytest = "*"
clint = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
